<div class="edit">
  <form [formGroup]="userForm">
    <fieldset disabled="disabled">
      <mat-form-field class="example-full-width name" appearance="fill">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput />
      </mat-form-field>

      <mat-form-field class="example-full-width username" appearance="fill">
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput />
      </mat-form-field>

      <mat-form-field class="example-full-width phone" appearance="fill">
        <mat-label>Phone</mat-label>
        <input formControlName="phone" matInput />
      </mat-form-field>

      <mat-form-field class="example-full-width email" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>
      <mat-form-field class="example-full-width website" appearance="fill">
        <mat-label>Website</mat-label>
        <input formControlName="website" matInput />
      </mat-form-field>
    </fieldset>
  </form>
  <button (click)="backToPost()">Back</button>
</div>
